<html>
<body>
    <div id="app">
        <section>
            <div class="container">
                <div class="title">
                    <div 
                        class="input"
                        style="font-size: 0px"
                    >
                    <select v-model="input.type">
                        <option>全部</option>
                        <option>aaa</option>
                        <option>bbb</option>
                        <option>ccc</option>
                    </select>
                    <input type="text"
                    v-model.trim="input.title">
                </div>
                <div class="menu">
                    <div
                        class="menuItem"
                        v-for="(item,index) in titleMenu"
                    >
                    <span class="number">{{index + 1 }}</span>
                    <span class="type">{{ item.type }}</span>
                    <a
                        :href="item.link"
                        target="vue-iron"
                        class="title"
                    >
                    {{item.title}} 
                    </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="day.js"></script>
</body>
    </html>